#teaching-wrapper,
#teaching-wrapper + .gutter,
#examples-wrapper,

#examples-view,
#examples-view + .gutter,
#code-examples,
#code-examples + .gutter,
#examples-list {
    display: inline-block;
    float: left;
}

#teaching-wrapper,
#examples-wrapper {
    padding: 0;
}

#examples-wrapper {
    display: flex;
    font-family: sans-serif;
}

#examples-wrapper > main {
    width: 100%;
}

#examples-wrapper i[class*=lightbulb],
#editors-zoom,
#exercise-toggle {
    transition: color 0.8s ease-in, opacity 0.1s linear;
    /*transition-property: color, opacity;*/
    position: absolute;
    top: 48%;
    right: 0;
    font-size: 1.5em;
    background: #484747;
    padding: 5px 5px 5px 9px;
    border-radius: 5px 0 0 5px;
    color: white;
    cursor: pointer;
    opacity: 0.2;
    z-index: 5;
}

#examples-wrapper i[class*=lightbulb] {
    width: 38px;
    padding-left: 12px;
}

#editors-zoom {
    top: 36%;
    width: 38px;
    height: 115px;
}

#editors-zoom > i {
    margin: 6px 0;
}

#examples-wrapper i[class*=lightbulb]:hover,
#editors-zoom:hover,
#exercise-toggle:hover {
    opacity: 1;
}

#exercise-toggle {
    top: 51.5%;
    width: 38px;
}

#exercise-toggle > i:hover,
#editors-zoom > i:hover,
#examples-wrapper i[class*=lightbulb]:hover {
    color: #ffff00;
}

#examples-wrapper .contents  {
    padding: 0;
}

#examples-wrapper iframe {
    width: 100%;
    height: 100%;
}

#examples-wrapper .contents  label {
    cursor: pointer;
}

#examples-wrapper .contents  li {
    list-style: none;
    margin: 5px 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

#examples-wrapper .contents  li:hover {
    background: #f1f18c;
}

#examples-wrapper .contents  li a {
    color: blue;
    width: 100%;
    display: block;
}

#examples-view,
#code-examples,
#examples-list {
    padding: 0;
}

#examples-list {
    overflow-y: scroll;
}

.examples > li {
    margin-top: 15px;
    cursor: pointer;
}

#examples-list h3 {
    padding-left: 20px;
}

#examples-list .contents li[data-subject]:before {
    content: attr(data-subject);
    display: block;
    margin: 1.2em 0 0.5em;
    font-weight: bold;
}

#examples-list .selected-example {
    background: #f1cf58;
}

#code-examples #example-code {
    height: 100%;
    width: 100%;
}

#code-examples #example-code .ace_content {
    left: 0 !important;
    transform: none !important;
}

